body {
    font-family: 'Roboto', sans-serif;
    background-color: #eef9bf;
}
.gameName {
    color:#75B79E;
    font-size: 36px;
    text-align:center;
}
.cards {
    position: absolute;
    width: 117px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;
}